.exchanges-page {
    text-align: center;
    background-color: #eceff1;
}
.exchanges-page .exchanges-footer-wrapper {
    margin-top: -110px;
}
.exchanges-page .exchanges button.green {
    margin: 22px 0;
}