.coins-list .box {
    background-color: #fff;
    outline: 1px solid rgba(34, 36, 38, 0.1);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 15px -3px;
}
.coins-list .box .logo-name {
    display: flex;
    align-items: center;
}
.coins-list .box .logo-name img {
    width: 30px;
    height: 30px;
}
.coins-list .box .logo-name a {
    text-align: left;
    margin-left: 5px;
}
.coins-list .box .logo-name a:hover h4 {
    text-decoration: underline;
}
.coins-list .box .logo-name a h4.light {
    font-size: 0.7rem;
    margin-top: 3px;
}
.coins-list .update-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: rgb(24, 198, 131);
    color: #fff;
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 15px -3px;
    border-radius: 20px;
    cursor: pointer;
}
.coins-list .update-button img {
    width: 25px;
    height: auto;
    margin-bottom: 5px;
}
.coins-list .update-button h3 {
    font-size: 1rem;
}