.not-found-page .container {
    margin: 0 auto;
}
.not-found-page .container .not-found-wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 440px 0;
}
.not-found-page h2 {
    font-weight: 500;
}
.not-found-page h3 {
    color: #000;
}
.not-found-page .line {
    width: 1px;
    height: 50px;
    background-color: #b2b2b2;
}